Repository voxpupuli/puppet-snmp, pull requests merged in 2019-02, with the labels that each got.

#179 Updated stdlib to 4.22.0
  metadata.json
Labels: bug

#177 modulesync 2.5.1 and drop Puppet 4
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  Gemfile
  Rakefile
  metadata.json
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: backwards-incompatible

#181 Convert from params to data in module
  data/os/Debian.yaml
  data/os/Debian/14.04.yaml
  data/os/Debian/18.04.yaml
  data/os/Debian/9.yaml
  data/os/FreeBSD.yaml
  data/os/OpenBSD.yaml
  data/os/RedHat.yaml
  data/os/RedHat/6.yaml
  data/os/Suse.yaml
  hiera.yaml
  manifests/client.pp
  manifests/init.pp
  manifests/params.pp
  manifests/snmpv3_user.pp
  metadata.json
  spec/classes/snmp_init_spec.rb
  templates/snmpd.conf.erb
  templates/snmptrapd.conf.erb
Labels: enhancement

#176 Rewrite user creation to prevent quoting bug (fixes #173)
  REFERENCE.md
  manifests/snmpv3_user.pp
  spec/defines/snmp_snmpv3_user_spec.rb
Labels: bug, needs-rebase

#186 Mark `snmp::snmpv3_usm_hash` as private
  REFERENCE.md
  lib/puppet/functions/snmp/snmpv3_usm_hash.rb
Labels: docs
