Repository voxpupuli/puppet-snmp, pull requests merged in 2020-04, with the labels that each got.

#219 Modulesync 2.11.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#220 modulesync 2.12.0
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#216 use systemd for debian 9 snmpd options
  .fixtures.yml
  data/os/Debian/10.yaml
  data/os/Debian/9.yaml
  manifests/init.pp
  metadata.json
  spec/classes/snmp_init_spec.rb
  templates/snmpd.service-dropin-Debian.epp
Labels: enhancement

#223 release 5.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
