Repository voxpupuli/puppet-snmp, pull requests merged in 2023-05, with the labels that each got.

#268 Add Ubuntu 22.04 support
  data/os/Debian/22.04.yaml
  metadata.json
  spec/classes/snmp_init_spec.rb
Labels: enhancement

#270 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible

#272 Drop Debian 9 support
  manifests/init.pp
  metadata.json
  spec/classes/snmp_init_spec.rb
Labels: backwards-incompatible

#271 modulesync 6.0.0
  .msync.yml
  Gemfile
Labels: modulesync
