Repository voxpupuli/puppet-snmp, pull requests merged in 2024-10, with the labels that each got.

#294 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#295 Add OracleLinux 8 / 9 support
  metadata.json
Labels: enhancement

#296 Drop EL7 support
  metadata.json
Labels: backwards-incompatible

#301 Drop FreeBSD 12 support
  metadata.json
Labels: backwards-incompatible

#297 Drop EoL CentOS 8
  metadata.json
Labels: backwards-incompatible

#298 Drop EoL Debian 10
  metadata.json
Labels: backwards-incompatible

#299 Add Ubuntu 24.04 support
  metadata.json
Labels: enhancement

#300 Add FreeBSD 14 support
  metadata.json
Labels: enhancement

#302 Drop ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#303 Add support for Rocky and AlmaLinux
  metadata.json
Labels: enhancement

#304 Release 7.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
